<template>
  <div>
          <v-calendar class="v-calendar" :key="loaded" :attributes='calendarAttributes'>
          </v-calendar>
          <!-- Todo List -->
          <div class="list-group fs-mini">
            <div v-for="todo in todos" :key="todo.dates">
              <div v-if="todo.dates.slice(0,10) == today">
                 <a href="#" class="list-group-item text-ellipsis">
                   <div v-if="todo.color == 'red'">
                    <span class="badge badge-pill badge-danger float-right"> {{ todo.dates.slice(11,16) }}</span>
                    {{ todo.description }}
                   </div>
                   <div v-if="todo.color == 'yellow'">
                    <span class="badge badge-pill badge-warning float-right"> {{ todo.dates.slice(11,16) }}</span>
                    {{ todo.description }}
                   </div>
                   <div v-if="todo.color == 'green'">
                    <span class="badge badge-pill badge-success float-right"> {{ todo.dates.slice(11,16) }}</span>
                    {{ todo.description }}
                   </div>
                  </a>
              </div>
            </div>
          </div>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import axios from "axios";
import { nextTick } from 'q';
import { get } from 'http';
import { setTimeout } from 'timers';

export default {
  name: 'Maintenance',
  components: { 
      Widget
   },
   props: {
     events: {
       type: Array,
       default: []
     }
   },
   data() {
    return {
        loaded: true,
        todos: [],
        date: new Date().toISOString(),
        today: new Date().toISOString().slice(0,10)
    }
  },
    methods: {
     async createTodos() {
      try {
        this.loaded = false;
          this.todos = []
            var todo;
            for(var i = 0; i < this.events.length;++i){
                  todo = {
                    description: '',
                    isComplete: false,
                    dates: '', 
                    color: '',
                  }
                todo.description = this.events[i].description;
                todo.dates = this.events[i].timestamp;
                if (this.events[i].severity == 1) {
                  todo.color = 'red'
                }
                if (this.events[i].severity == 2) {
                  todo.color = 'yellow'
                }
                if (this.events[i].severity == 3) {
                  todo.color = 'green'
                }
                this.todos.push(todo);
            }
            this.loaded = true;
      }catch(err){
        console.log(err);
      }
      setInterval(this.createTodos,1000);
    }
  },
  computed: {
    calendarAttributes() {
      return [
           // Today attribute
                  {
                    contentStyle: {
                      fontWeight: '700',
                      fontSize: '.9rem',
                    },
                    dates: new Date(),
                    loaded: this.loaded
                  },
                  // Attributes for todos
                  ...this.todos.map(todo => ({
                    dates: todo.dates,
                    dot: {
                      backgroundColor: todo.color,
                      opacity: todo.isComplete ? 0.3 : 1,
                    },
                    popover: {
                      label: todo.description,
                    },
                  }))
        ]
    }
  },
  created() {
    this.createTodos();
  }
};
</script>
<style src="./EventCalendar.scss" lang="scss" />