<template>
    <div>
        <Widget>
            <label>File
                <input type="file" id="file" ref="file" accept="image/*" v-on:change="handleFileUpload()"/>
            </label>
            <img v-bind:src="imagePreview" v-show="showPreview"/>
            <button v-on:click="submitFile()">Submit</button>
        </Widget>
    </div>
</template>
<script>
/* eslint-disable */
import Widget from '@/components/Widget/Widget';
//Services
import fileService from '@/services/file';
import { createReadStream } from 'fs';

function readFileAsync(file) {
  return new Promise((resolve, reject) => {
    let reader = new FileReader();

    reader.onload = () => {
      resolve(reader.result);
    };

    reader.onerror =  (error) => {
        console.log('Error: ', error);
    };

    reader.readAsArrayBuffer(file);
    // reader.readAsBinaryString(file);
  })
}

export default {
    mixins: [fileService],
    components: {
        Widget
    },
    data() {
        return{
            file: '',
            showPreview: false,
            imagePreview: ''
        }
    },
    methods: {
    handleFileUpload(){
        /*
        Set the local file variable to what the user has selected.
        */
        this.file = this.$refs.file.files[0];

        /*
        Initialize a File Reader object
        */
        let reader  = new FileReader();

        /*
        Add an event listener to the reader that when the file
        has been loaded, we flag the show preview as true and set the
        image to be what was read from the reader.
        */
        reader.addEventListener("load", function () {
        this.showPreview = true;
        this.imagePreview = reader.result;
        }.bind(this), false);

        /*
        Check to see if the file is not empty.
        */
        if( this.file ){
        /*
            Ensure the file is an image file.
        */
            if ( /\.(jpe?g|png|gif|pdf)$/i.test( this.file.name ) ) {
                /*
                Fire the readAsDataURL method which will read the file in and
                upon completion fire a 'load' event which we will listen to and
                display the image in the preview.
                */
                reader.readAsDataURL( this.file );
            }
            
        }
    },
    submitFile() {
        return readFileAsync(this.file)
          .then((result) => {
            return this.$axios.put('/api/iotfile/v3/files/ed68e42a946441bc8b2a2a54ebb174b2/Testing', result, {
              onUploadProgress: progressEvent => console.log('file progress', progressEvent.loaded),
              headers: { 'Content-Type': 'text/octet-stream', 'type': 'image/*' }
            });
          })
        // let binStr;
        // try{
        //     // let binStr = await readFileAsync(this.file);
        //     binStr = createReadStream();
        //     console.log(binStr)
        //     // var base64result = binStr.split(',')[1];
        //     // alert(binStr);
        //     // console.log(atob(binStr));
            
        //     // await this.uploadFile(binStr);
        // }catch(e){
        //     console.log(e);
        // }finally{
        //     this.uploadFileTest(binStr);
        // }
        
    }
}
}
</script>

<style src="./FileHandler.scss" lang="scss" />
