@import '../../styles/app';

.dashboard-page {
  .post-comments footer {
    margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
    padding: $widget-padding-vertical $widget-padding-horizontal;
  }

  .stat-item .name {
    margin-top: 10px;
  }

  .table {
    .table.table-sm {
      td {
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }
}

.v-calendar {
  background: none !important;
  border: none !important;
  display: block !important;
  color: $text-color !important;
}

.area-chart :global(canvas) {
  width: 100% !important;
}

.hover :hover {
  color: lightgrey;
}