// Meta

$enable-shadows:            true !default;

$glyphicons-halflings-include-bonus: false !default;
$glyphicons-halflings-class-prefix: glyphicon !default;
$glyphicons-halflings-font-base-size: 14px !default;

$glyphicons-halflings-font-path: '../fonts/glyphicons' !default;
$fa-font-path: '../fonts/font-awesome' !default;

/*
 * Fonts
 * ======================================================================== */
$font-size-initial:       13px; // reset default browser value from 16px to 14px
$font-size-base:          1rem !default;
$font-size-lg:            1.25rem !default;
$font-size-sm:            0.875rem !default;
$font-size-larger:        1.1rem;
$font-size-mini:          0.9rem;
$font-size-index:         0.7rem;

$font-family-base: 'Open Sans', sans-serif;

// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #d6dee5 !default;
$gray-400: #c1ccd3 !default;
$gray-500: #a3aeb7 !default;
$gray-600: #798892 !default;
$gray-700: #636c72 !default;
$gray-800: #3c484f !default;
$gray-900: #29323a !default;
$black:    #000 !default;
$gray-light: $gray-100 !default;

$lime:     #8cbf26 !default;
$red:      #ff0115 !default;
$red-dark: #d04f4f !default;
$blue:     #196EFF !default;
$green: #2ada7a !default;
$orange: #ffc107 !default;
$pink:     #e671b8 !default;
$purple:   #a700ae !default;
$brown:    #a05000 !default;
$teal:     #7f49fa !default;

$theme-colors: (
        primary: $blue,
        secondary: $gray-700,
        success: $green,
        info: $teal,
        warning: $orange,
        danger: $red,
        dark: $gray-700,
        inverse: $gray-100,
        gray: $gray-300,
        light: $gray-100,
        default: #e9ecef,
        primary-light: #dee4ee,
        success-light: #ecfaec,
        info-light: #f2fafa,
        warning-light: #fdf7e6,
        danger-light: #fff2ef,
);

$link-color: #62c9ff;

// $text-color: #444 !default;
$text-color:   white !default;
$text-muted: rgba($text-color, .7) !default;

$font-weight-bold: 700 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-thin: 300 !default;
$font-weight-base: $font-weight-thin !default;

$addition-bg: rgba($white, .1) !default;

$body-bg: #e1e5e8 !default;
$body-bg-gradient-start: $body-bg 10%;
$body-bg-gradient-end: #9aacbf;
$body-bg-light: lighten($body-bg, 3%);

$headings-font-weight: 300;


//== Components
//

$grid-gutter-width: 40px;

$content-padding: 2.85rem;

$nav-link-padding: 10px;

$border-radius:          0.3rem !default;
$border-radius-lg:       0.35rem !default;
$border-radius-sm:       0.25rem !default;

//== Sidebar
//

$sidebar-width: 160px;
$sidebar-transition-time: 0.3s !default;

$sidebar-color: $text-color !default;

$sidebar-item-border-color: transparent !default;
$sidebar-item-active-color: #fff !default;


// Widgets
// -------------------------
//$widget-bg: rgba(0,0,0,.24);
// $widget-bg: rgba(255,255,255,.33);
$widget-bg: rgba(255,255,255,.55);
$widget-title-color: $text-color;
$widget-shadow: 0 23px 20px -20px rgba(darken($body-bg, 25%),0.1), 0 0 15px rgba(darken($body-bg, 25%),0.06);
$widget-shadow-designated: -1px 0 8px rgba(0,0,0,.2);
$widget-border-radius: .5rem;
$widget-padding-vertical: 1rem !default;
$widget-padding-horizontal: 1.5rem !default;

$text-transparent: opacify($widget-bg, .07);

$input-btn-line-height: 1.5;

$input-btn-padding-y-sm: 0.4rem;
$input-btn-padding-x-sm: 0.8rem;

//== Navbar
//

$navbar-height:  60px !default;
$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
$navbar-light-hover-color: #fff;
$navbar-light-active-color: $navbar-light-hover-color;

// Custom navbar links
$navbar-link-color: $text-transparent !default;
$navbar-link-hover-color: $gray-800 !default;
$navbar-link-hover-bg: transparent !default;
$navbar-link-active-color: $gray-700 !default;
$navbar-link-active-bg: $gray-300 !default;
$navbar-link-disabled-color: $gray-400 !default;
$navbar-link-disabled-bg: transparent !default;

// Dropdowns
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-color: $text-color;
$dropdown-border-radius: $widget-border-radius;

//== Navs
//
$nav-tabs-active-link-hover-bg: $widget-bg !default;
$nav-tabs-active-link-hover-color: $gray-700 !default;

//== Forms
//
$input-focus-border-color: #4d90fe !default; //webkit focus color

//*  Popover  */
$popover-bg: #ebeff1 !default;
$popover-arrow-outer-color: $popover-bg !default;
$popover-arrow-color: $popover-bg !default;

// Badge
$badge-font-weight: 700;
$badge-font-size: 0.875em;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.4em;

// Breadcrumbs

$breadcrumb-divider: '>';
$breadcrumb-padding-y: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color:          $text-muted !default;
$breadcrumb-active-color:           $text-color !default;

// Progress bars
$progress-height: 0.65rem !default;
$progress-box-shadow: none;

// Alerts
$alert-transparent: 0.25;

// Buttons
$input-btn-padding-y:       0.375rem !default;
$input-btn-padding-x:       1rem !default;

$btn-default-bg: $addition-bg !default;
$btn-default-border: $addition-bg !default;

// Table
$table-border-width: 1px;

// Pagination
$pagination-color:                     $gray-700 !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    transparent !default;

$pagination-hover-color:               $gray-700 !default;
$pagination-hover-bg:                  transparent !default;
$pagination-hover-border:              transparent !default;
$pagination-hover-border-color:        transparent !default;

$pagination-active-color:              $gray-700 !default;
$pagination-active-bg:                 transparent !default;
$pagination-active-border:             transparent !default;
$pagination-active-border-color:       transparent !default;

$pagination-disabled-color:            $gray-700 !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           transparent !default;

// == Components
$padding-small-vertical:    0.25rem !default;
$padding-small-horizontal:  0.75rem !default;

// Screens
// -------------------------

$screen-lg-height: 670px !default;
