<template>
   <!-- <div id="linechart" ref="linechart">
  </div> -->
  <div id="linechart">
    <apexchart type="line" height="300" ref="realtimeChart" :options="chartOptions" :series="aggData"></apexchart>
  </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
    export default {
        data(){
          return {
            timer: null
          }
        },
        computed:{
          aggData(){
            return this.$store.getters.aggregate;
          }
        },
        data(){
          return{
          chartOptions: {
              chart: {
                id: 'realtime',
                height: 350,
                type: 'line',
                animations: {
                  enabled: true,
                  easing: 'linear',
                  dynamicAnimation: {
                    speed: 1000
                  }
                },
                toolbar: {
                  show: false
                },
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth',
                width: 3
              },
              markers: {
                size: 0
              },
              legend: {
                show: true
              },
            },
          }
      },
      methods: {
        setDataLineChart () {
          if(this.timer == null){
            this.updateSeriesLine();
          }
          clearTimeout(this.timer);
          this.timer = setTimeout(() => {
          this.$store.dispatch('getAggregate');
            this.updateSeriesLine()
          }, 5 * 1000)
        },
        updateSeriesLine () {
          this.$refs.realtimeChart.updateSeries(this.aggData, false, true)
        }
      },
      beforeCreate(){
        this.$store.dispatch('getAggregate');
      },
      mounted() {
          this.setDataLineChart();
      }
    }
</script>
<style scoped>

#linechart {
  width: 100%;
  height: 300px;
}
</style>