<template>
   <div id="chartdiv" ref="chartdiv">
  </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
    export default {
    mounted() {
    var chart = am4core.create("chartdiv", am4charts.PieChart);

  // Add data
  chart.data = [{
    "country": "Bobbin Change",
    "litres": 2
  }, {
    "country": "Shortage of Material",
    "litres": 58
  }, {
    "country": "Thread Break",
    "litres": 0
  }, {
    "country": "Others",
    "litres": 165.8
  }];

  // Add and configure Series
  var pieSeries = chart.series.push(new am4charts.PieSeries());
  pieSeries.dataFields.value = "litres";
  pieSeries.dataFields.category = "country";
      // let visits = 10;
      // for (let i = 1; i < 366; i++) {
      //   visits += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
      //   data.push({ date: new Date(2018, 0, i), name: "name" + i, value: visits });
      // }

      // chart.data = data;

      // let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      // dateAxis.renderer.grid.template.location = 0;

      // let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      // valueAxis.tooltip.disabled = true;
      // valueAxis.renderer.minWidth = 35;

      // let series = chart.series.push(new am4charts.LineSeries());
      // series.dataFields.dateX = "date";
      // series.dataFields.valueY = "value";

      // series.tooltipText = "{valueY.value}";
      // chart.cursor = new am4charts.XYCursor();

      // let scrollbarX = new am4charts.XYChartScrollbar();
      // scrollbarX.series.push(series);
      // chart.scrollbarX = scrollbarX;

      // this.chart = chart;
    }
  }
</script>
<style scoped>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 400px;
}
</style>