<template>
    <div id="clock">
        <p class="quantity">{{ quantity }}pcs</p>
    </div>
</template>

<script>
/* eslint-disable */
export default {
    computed:{
        quantity(){
            let data = this.$store.getters.timeseries;
            let result = 0;
            if(data == []) return result;
            for(let index in data[0]){
                if(index != "_time"){
                    result = data[0][index];
                    result = Math.round(result * 100) / 100;
                }
            }
            return result;
        }
    },
    methods: {
        async updateTime() {
            try{
                let data = await this.getTimeSeriesData();
                for(var index in data[0]){
                    if(index != "_time"){
                        this.quantity = data[0][index];
                        this.quantity = Math.round(this.quantity * 100) / 100;
                    }
                }
            }catch(e){
                console.log(e);
            }
             setTimeout(this.updateTime, 10000);
        }
    },
    beforeCreate(){
        this.$store.dispatch('getTimeSeries');
    },
    mounted() {
        // this.updateTime();
    }
}
</script>
<style lang="scss">
html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
        .quantity {
            letter-spacing: 0.05em;
            font-size: 40px;
            padding: 5px 0;
        }
        // .quantity {
        //     letter-spacing: 0.1em;
        //     font-size: 24px;
        // }
        .text {
            letter-spacing: 0.1em;
            font-size: 12px;
            padding: 20px 0 0;
        }
}
</style>