<template>
    <div id="clock">
    <p class="seconds">{{ seconds }}sec</p>
</div>
</template>

<script>
/* eslint-disable */

export default {
    data: function(){
        return {
        seconds: 0,
        }
    },
    methods: {
        updateTime() {
            this.seconds = Math.floor((Math.random() * 100) + 1);
        }
    },
    created() {
        setInterval(this.updateTime, 1000);
        this.updateTime();
    }
}
</script>
<style lang="scss">
html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
        .seconds {
            letter-spacing: 0.05em;
            font-size: 40px;
            padding: 5px 0;
        }
        // .seconds {
        //     letter-spacing: 0.1em;
        //     font-size: 24px;
        // }
        .text {
            letter-spacing: 0.1em;
            font-size: 12px;
            padding: 20px 0 0;
        }
}
</style>