<template>
  <b-collapse class="sidebar-collapse" id="sidebar-collapse" :visible="sidebarOpened">
  <nav
    :class="{sidebar: true}"
  >
    <header class="logo">
      <router-link to="/app/dashboard">
      <img src="../../assets/logos/siemens.svg" alt="Siemens">
      </router-link>
    </header>
    <br>
    <center>
    <h4>Demo App</h4>
    <br>
    </center>
    <ul class="nav">
      <NavLink
              :activeItem="activeItem"
              header="Dashboard"
              link="/app/dashboard"
              iconName="flaticon-home"
              index="dashboard"
              isHeader
      />
      <NavLink
              :activeItem="activeItem"
              header="Maintenance"
              link="/app/maintenance"
              iconName="flaticon-calendar"
              index="maintenance"
              isHeader
      />
    </ul>
  </nav>
  </b-collapse>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import axios from 'axios';
import Widget from '@/components/Widget/Widget';
import { mapState, mapActions } from 'vuex';
import NavLink from './NavLink/NavLink';
import { setTimeout } from 'timers';

export default {
  name: 'Sidebar',
  components: { NavLink },
  data() {
    return {
      data: '123',
      Widget,
      alerts: [
        {
          id: 0,
          title: 'Sales Report',
          value: 15,
          footer: 'Calculating x-axis bias... 65%',
          color: 'info',
        },
        {
          id: 1,
          title: 'Personal Responsibility',
          value: 20,
          footer: 'Provide required notes',
          color: 'danger',
        },
      ],
    };
  },
  methods: {
    ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split('/');
      paths.pop();
      this.changeSidebarActive(paths.join('/'));
    }
  },
  created() {
    this.setActiveByRoute();
  },
  mounted() {
    this.data = this.$store.state.data
  },
  computed: {
    ...mapState('layout', {
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement,
    }),
  },
};
</script>

<!-- Sidebar styles should be scoped -->
<style src="./Sidebar.scss" lang="scss" scoped/>
