<template>
  <div>
    <h1 class="page-title">
      <span class="fw-semi-bold">Maintenance</span>
    </h1>
    <b-container>
    <b-row>
        <b-col lg="12">
    <Widget
              title="<h4>Events</h4>" customHeader>
              <hr>
              <EventCalendar :events="events"/>
    </Widget>
        </b-col>
    </b-row>
    <b-row>
        <b-col lg="6">
            <Widget title="Maintenance Form">
                <form class="mt" @submit.prevent="createEvent(eventBody)">
                <b-form-group label="Time" label-for="time-input">
                <!-- date -->
                    <VueCtkDateTimePicker v-model="date" />
                    <!-- <v-date-picker
                      v-model="date"
                      :input-props='{
                        class: "w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 hover:border-blue-5",
                        placeholder: "Please select your date",
                        readonly: true
                      }'
                      style="width:100%;"
                    /> -->
                <!-- date -->
                </b-form-group>
                <b-form-group label="Severity" label-for="severity-input">
                    <b-input-group class="input-group-transparent">
                        <b-form-radio v-model="selected" name="some-radios" value="1">1</b-form-radio> &nbsp; &nbsp;
                        <b-form-radio v-model="selected" name="some-radios" value="2">2</b-form-radio> &nbsp; &nbsp;
                        <b-form-radio v-model="selected" name="some-radios" value="3">3</b-form-radio>
                    </b-input-group>
                </b-form-group>
                <b-form-group label="Description" label-for="text-input">
                    <b-input-group class="input-group-transparent">
                    <b-input-group-text slot="prepend"><i class="fa fa-file-word-o text-white"></i></b-input-group-text>
                    <b-form-input id="text-input"
                                    class="input-transparent pl-0"
                                    type="text"
                                    v-model="eventBody.description"
                                    required
                                    placeholder="Description" />
                    </b-input-group>
                </b-form-group>
                <div class="widget-middle-overflow bg-widget mt-4 px-4 py-3">
                    <b-button class="btn-block btn-lg fs-normal" type="submit" variant="danger">
                    <span class="login-circle"><i class="fa fa-caret-right"></i></span>
                    Submit
                    </b-button>
                </div>
                </form>
            </Widget>
        </b-col>
    <!-- form -->
    <!-- message -->
        <b-col lg="6">
            <Widget title="<h6>Events</h6>" customHeader>
          <div class="widget-body p-0">
            <!-- Events List -->
            <div class="list-group list-group-lg">
              <div v-for="event in events" :key="event.id">
                <a class="list-group-item" href="#">
                  <div>
                    <h6 class="m-0">{{ event.timestamp }}</h6>
                    <p class="help-block text-ellipsis m-0">{{ event.description }}</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Events List -->
          </div>
          <footer class="bg-widget mt">
            <input type="search" class="form-control form-control-sm" placeholder="Search" />
          </footer>
        </Widget>
        </b-col>
    </b-row>
    <!-- message -->
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import axios from "axios";
import { nextTick } from 'q';
import { get } from 'http';
import EventCalendar from './components/EventCalendar/EventCalendar'
// Services Import 
import eventService from '@/services/event'

var eventBody = {
  "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
	"timestamp": '',
	"entityId": "ed68e42a946441bc8b2a2a54ebb174b2",
	"severity": 1,
	"description": '',
	"code": "tbe1",
	"acknowledged": false
}

export default {
  name: 'Maintenance',
  mixins: [eventService],
  components: { 
      Widget,
      EventCalendar
   },
   data() {
    return {
        selected: 1,
        date: new Date().toISOString(),
        eventBody,
        today: new Date().toISOString().slice(0,10)
    }
  },
    methods: {
     async eventsGetter() {
      try {
          await this.getEvents();
      }catch(err){
        console.log(err);
      }
      setInterval(this.eventsGetter,1000)
    }
  },
  created() {
    this.eventsGetter();
  }
};
</script>

<style src="./Maintenance.scss" lang="scss" />