<template>
<div>
  <router-view />
</div>
</template>

<script>
/* eslint-disable */
import axios from "axios";

export default {
  name: 'App',
  data () {
    return {
      msg: "Loading...",
      spinnerStatus: false
    }
  },
  beforeCreate() {
    
    const currentPath = this.$router.history.current.path;

    if (currentPath === '/' || currentPath === '/app') {
      this.$router.push('/app/dashboard');
    }
    },
  };
  </script>

<style src="./styles/theme.scss" lang="scss" />
